* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: "General sans";
}

html,body{
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
    /* height: 100vh; */
    width : 100%;
    background-color: black;
}
#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s ;
    height: 12px;
    width:12px;
    border-radius: 50%;
    position: absolute;
    z-index: 99999;
    background-color: #fff;
}
#hero{
    position: relative;
    height: 100vh;
    width : 100%;
    color :#fff;
    background-color: black;

}
#nav a{
    
    text-decoration: none;
    opacity: 0.8;
    font-weight: 600;
    color :#888
}
#nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    font-size: 15px;
    
}
#heading{
    margin: 18vh 4vw ;
    font-size: 5vw; 
    line-height: 1;
    text-transform: uppercase;
}
#product{
    opacity: 0.6;
}
.blocktext{
    width: fit-content;   
}
.blocktext h5{
    text-align: right;
    font-size: 2vh;
}
.blocktext h1{
    opacity: 0.6;
    margin-left: 15vw;
}
#left-headings {
    text-transform: uppercase;
    text-align: right;
    padding-right:20px ;
    font-size: 15px;
    margin-top: 0.5vw;
}
#left-headings h5 {
    margin-top: 10px;
}

#hero-footer{
    text-transform: uppercase;
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#hero-footer a{ 
    text-decoration: none;
    color :#fff
}
#lefticon i{
    width: 25px;
    height: 25px;
}

.second-page{
    width: 100%;
    height: auto;
    color: #fff;
}
.second-page #tabs{
    padding-top: 150px;
}
#tabs .flag{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top:2px  solid #888;
}

#tabs .flag h1{
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 7.9vw;    
    padding:3vh 1vw ;
}
.flaglast{
    border-bottom:2px  solid #888;
}
.flag img{
  display: none;
  position: absolute;
  height: 25%;
  z-index: 999;
}

#last-page{
    width: 100%;
    height: auto;
    color: #fff;
}
#about img{
    width: 200px ;

}
#about{ 
    position: relative;
    padding: 10vw 10vw ;
    padding-left: 40vw;
    display: flex;
    align-items: center;
    gap: 70px;
}
#text-about{
    width: 25rem;
}
#text-about p{
line-height: 1.7;
margin-bottom: 30px;
}
#text-about h5{
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #888;

} 
#text-about a{
    padding: 12px 22px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 12px;
    border-radius: 100px;
}
#subscribe{
    padding: 2vw;
}
#subscribe h5{
    padding: 3px;
    text-transform: uppercase;
    color: #888;
}
#subscribe h3{
    text-transform: uppercase;
    color: #fff;
    
    font-size: 14px;
}
#footer{
    display: flex;
    justify-content: space-between;
}
#footerleft{
    opacity: .8;
    padding: 20px 30px;
    display:flex;
    gap: 20px;
    align-items: center;
    font-size: 16px ;

}
#footerright{
    opacity: .8;
    padding: 20px 30px;
    display:flex;
    gap: 30px;
    align-items: center;
    font-weight: 500;
    font-size: 16px ;
   
    
}
#footerright a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

}

